<div id="doc">
  <h1>
    <%= @doc.title %>
  </h1>

  <p class="doc_content">
    <%= @doc.content %>
  </p>

  <div class="doc_actions">
    <div class="button marg_btn">
      <%= link_to "All Docs", docs_path %>
    </div>
    <div class="button marg_btn">
      <%= link_to "Fix Doc", edit_doc_path(@doc) %>
    </div>
    <div class="button marg_btn">
      <%= link_to "Trash it", doc_path(@doc), method: :delete, data: { confirm: 'You sure?' } %>
    </div>
  </div>

</div>